# R Workspace data #
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store
.Rapp.history
temp/*
.~*

# ignore a folder
# folder_to_ignore/
# large shapefiles are now managed with Github LFS
