# R Workspace data #
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store

#
# ignore a folder
# folder_to_ignore/
world_countries/
admin_divisions/
World_EEZ_v11_20191118/

# ignore any file and folders with the following string in the name
# *string_to_ignore*

# Data being prepped for a release 
*Megonigal_2019*
*megonigal_2019*
*shaw_et_al_2019*
*Shaw_et_al_2019*
*Gedan_et_al_2020*
*gedan_et_al*
*weston_2019*
*Weston_2019*
*weston_et_al*
*Weston_et_al*
