# R Workspace data #
###################
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
.DS_Store

# ignore a folder
# folder_to_ignore/

# ignore any file and folders with the following string in the name
# *string_to_ignore*

# Data being prepped for a release 
*Megonigal_2019*
*megonigal_2019*
*Lagomasino_2019*
*Lagomasino_et_al_2019*
*lagomasino_2019*
*lagomasino_et_al_2019*
*Peck_et_al_2019*
*peck_et_al_2019*
*shaw_et_al_2019*
*Shaw_et_al_2019*
*kemp_et_al_2019*
*Kemp_et_al_2019*
*breithaupt_et_al_2019*
*Breithaupt_et_al_2019*
*breithaupt_et_al_embargoed*
*Breithaupt_et_al_embargoed*
*Gedan_et_al_2020*
*gedan_et_al*
*breithaupt_et_al_2014*
*Breithaupt_et_al_2014*
*breithaupt_2014*
*Breithaupt_2014*
*Baustian_et_al_unpublished*
*baustian_et_al_unpublished*
*Baustian_unpublished*
*baustian_unpublished*
*weston_2019*
*Weston_2019*
*weston_et_al*
*Weston_et_al*
*Vaughn_et_al*